
/* Alignment */

.u-center-text { text-align: center!important; }
.u-right-text { text-align: right!important; }
.u-left-text { text-align: left!important; }

.u-right-float { float: right; };
.u-left-float { float: left; }

.u-clear { clear: both; }

/* Margin */ 

.u-m-top-small { margin-top: 1rem!important; }
.u-m-top-medium { margin-top: 2rem!important; }
.u-m-top-large { margin-top: 4rem!important; }
.u-m-top-xlarge { margin-top: 8rem!important; }

.u-m-bottom-small { margin-bottom: 1rem!important; }
.u-m-bottom-medium { margin-bottom: 2rem!important; }
.u-m-bottom-large { margin-bottom: 4rem!important; }
.u-m-bottom-xlarge { margin-bottom: 8rem!important; }

/* Padding */

.u-p-small { padding: 1.5rem; }
.u-p-medium { padding: 2rem; }
.u-p-large { padding: 3rem; }
.u-p-xlarge { padding: 5rem; }

/* Sizing */ 

.u-full-width { width: 100%; }
.u-full-height { height: 100%; }

/* Typography */

.u-bold { font-weight: 700; }
.u-regular { font-weight: 400; }

/* Colours */

.text-white { color: $white; }
.text-grey { color: $grey-mid-dark }
.text-black { color: $black; }

.bg-border-white { 
	background-color: white;
	border: 1px solid $grey;
	color: $grey;
}

@include color-classes(); /* gradient-purple, bg-purple, border-purple, text-purple, link-purple-black, link-purple-white */

/* Display */

.u-block { display: block; }
.u-relative { position: relative; }

/* Misc */

.u-clip-text { 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} 

.u-no-select {
    user-select: none;                            
}

