<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rocket Loop</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="game" class='page'>
	    <div class='sidebar'>
	    	<div class='sidebar__logo'>
	    		<img src='assets/img/logo.png' alt='logo' class='u-full-width' />
	    	</div>
	    	<div class='sidebar__status'>
	    		<span class='' v-if="!missions.selectedMission"> Awaiting Mission Selection </span>
                <span class='' v-if="missions.selectedMission"> {{ missions.selectedMission.title }} </span>
	    	</div>
	    	<div class='sidebar__currency'>
	    		<div class='currency-block'>
	    			<img src='assets/img/currency-icon.svg' alt='Money' class='currency-block__icon' />
					<span class='currency-block__value'> {{ player.displayMoney() }} </span>
					<img src='assets/img/xp-icon.svg' alt='XP' class='currency-block__icon' />
					<span class='currency-block__value'> {{ player.displayExperience() }} </span>
				</div>
	    	</div>
	    	<div class='sidebar__navigation'>
				<ul class='navigation'>
                    <li v-on:click="togglePage('launch')" class='navigation__item'>
                        <span class='navigation__link -active'> Launch Pad </span>
                    </li>
					<li v-on:click="togglePage('missions')" class='navigation__item'>
						<span class='navigation__link -active'> Missions </span>
					</li>
					<li v-on:click="togglePage('upgrades')" class='navigation__item'>
						<span class='navigation__link'> Upgrades </span>
					</li>
					<li v-on:click="togglePage('achievements')" class='navigation__item'>
						<span class='navigation__link'> Achievements </span>
					</li>
					<li v-on:click="togglePage('logs')" class='navigation__item'>
						<span class='navigation__link'> Log </span>
					</li>
				</ul>
			</div>
	    </div>
	    <div class='page__frame'>
		    <div v-if="page === 'launch'" class='launch-frame'>
		    	<div class='launch-frame__mission launch-mission' v-if="missions.selectedMission">
		    		<h3 class='launch-mission__header'> Mission Overview </h3>
		    		<div class='launch-mission__chance -high'> <!-- -high / -medium / -low -->
		    			{{ missions.selectedMission.probability }}% Chance of Success
		    		</div>
		    		<ul class='launch-mission__stats'>
		    			<li> Mission Successes: <strong> {{ missions.selectedMission.successes }} </strong> </li>
		    			<li> Mission Failures: <strong> {{ missions.selectedMission.failures }} </strong> </li>
		    			<li> Mission Earnings: <strong> ${{  missions.selectedMission.displayCurrencyEarnings() }} </strong> </li>
		    			<li> Mission Costs: <strong> ${{ missions.selectedMission.displayCost() }} </strong></li>
		    			<li> XP: <strong> {{ missions.selectedMission.displayExperienceEarnings() }} </strong></li>
		    		</ul>
		    	</div>
		    	<div class='launch-frame__rocket rocket-view'>
		    		<div class='rocket-view__img -second'> </div>
		    		<button v-if="missions.ready" v-on:click="missions.launchMission(player, rocket)" class='rocket-view__launch-btn'> Launch Rocket </button>
		    		<button v-if="!missions.ready" class='rocket-view__launch-btn -disabled'> Launch Rocket </button>
		    	</div>
		    	<div class='launch-frame__bottom'>
		    		<div class='launch-details'>
		    			<div class='launch-details__item'>
		    				<span class='launch-details__label'> Launch Available in </span>
		    				<big v-if="!missions.ready" class='launch-details__value'> {{ missions.timer.displayCountdown() }} </big>
                            <big v-if="missions.ready" class="launch-details__value launch-details__value--green"> READY </big>
		    			</div>
		    			<div class='launch-details__item'>
		    				<span class='launch-details__label'> Mission Selected </span>
		    				<big v-if="!missions.selectedMission" class='launch-details__value'> None Selected </big>
                            <big v-if="missions.selectedMission" class="launch-details__value"> {{ missions.selectedMission.title }}</big>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div v-if="page === 'missions'" class='mission-frame'>
		    	<h1> Missions </h1>
		    	<div class='mission-frame__grid'>
		    		<div class='mission-frame__tile' v-for='n in 12'>
		    			<div class='mission-tile -locked'> <!-- -locked applies blue to tile -->
		    				<div class='mission-tile__wrapper'>
			    				<h3 class='mission-tile__header'> Test launch <small class='mission-tile__new'> New </small> </h3>
			    				<p class='mission-tile__desc'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			    				<div class='mission-tile__success'> <span class='green-t'> 20% </span> Chance of Success </div>
			    				<div class='mission-tile__details'>
			    					<img src='assets/img/xp-icon.svg' alt='XP' class='mission-tile__details-icon' />
			    					<span class='mission-tile__details-value'> $1,000,00 </span>
			    						<img src='assets/img/xp-icon.svg' alt='XP' class='mission-tile__details-icon' />
			    					<span class='mission-tile__details-value'> $1,000,00 </span>
			    						<img src='assets/img/xp-icon.svg' alt='XP' class='mission-tile__details-icon' />
			    					<span class='mission-tile__details-value'> 2000 </span>
			    				</div>
			    				<div class='mission-tile__footer'>
			    					<button class='button -green'> Select this mission </button>
			    				</div>
			    			</div>
			    			<div class='mission-tile__locked-overlay'>
			    				<img src='assets/img/lock-icon.svg' alt='locked' class='mission-tile__locked-icon'/>
			    				<strong class='mission-tile__locked-requirment'> Requires Advance Booster Upgrade </strong>
			    			</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	   	<div v-if="missions.displayResults" class='modal-frame'>
	   		<div class='modal-frame__box'>
	   			<h2 class='modal-frame__header'> Mission Report </h2>
	   			<div class='mission-report'>
	   				<div v-if="missions.results" class='mission-report__outcome -success'></div>
	   				<div v-if="!missions.results" class='mission-report__outcome -failure'></div>
	   				<div v-if="missions.results" class='mission-report__reward-row'>
	   					<div class='mission-report__reward-box'>
	   						<img src='assets/img/currency-icon.svg' alt='Money' class='mission-report__reward-icon' />
	   						<span class='mission-report__reward-value'> ${{ this.missions.selectedMission.displayCurrencyEarnings()}} </span>
	   					</div>
	   					<div class='mission-report__reward-box'>
	   						<img src='assets/img/xp-icon.svg' alt='XP' class='mission-report__reward-icon' />
	   						<span class='mission-report__reward-value'> {{ this.missions.selectedMission.displayExperienceEarnings() }} </span>
	   					</div>
	   				</div>
	   			</div>
	   			<div v-on:click="missions.hideResults()" class='modal-frame__close'> </div>
	   		</div>
	   	</div>
    </div>
	<!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="dist/main.js"></script>
</body>
</html>
