// Fonts
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "vendors/flexbox-mixins";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/base";
@import "base/utilities";
@import "base/animations";

//@import "components/main/buttons";
//@import "components/main/forms";
//@import "components/main/typography";

@import "layouts/grid";    

body { 
	background-color: #070d59;
	font-family: 'Poppins', sans-serif;
}

.page { 
	height: 100%;
	&__frame { 
		padding-left: 300px;
		height: 100%;
		position: relative;
		z-index: 2;
	}
}

.sidebar { 
	background-color: #0c1048;
	width: 300px;
	height: 100%;
	color: white;
	padding: 20px;
	position: fixed;
	z-index: 3;
	&__logo { 
		padding: 20px;
	}
	&__status { 
		border: 2px dashed rgba(255,255,255,0.2);
		text-align: center;
		min-height: 70px;
		padding: 40px 0 20px 0;
		position: relative;
		margin-top: 20px;
		&:before { 
			content: 'STATUS';
			position: absolute;
			top: 15px;
			left: 0;
			opacity: 0.5;
			width: 100%;
			text-align: center;
		}
	}
	&__currency { 
		text-align: center;
		margin: 40px 0;
	}
	&__navigation { 
		
	}
}

.navigation { 
	text-align: center;
	&__item { 
		display: block;
		margin-bottom: 20px;
	}
	&__link { 
		color: white;
		text-decoration: none;
		background-color: #0f1451;
		font-weight: 700;
		padding: 25px 0;
		font-size: 1.1em;
		display: block;
		border-radius: 4px;
		transition: all 150ms;
		&:hover { 
			background-color: lighten(#0f1451, 10%);
		}
	}
}

.currency-block { 
	display: flex;
	align-items: center;
	justify-content: center;
	&__icon { 
		width: 34px;
		height: auto;
		margin: 0 10px 0 20px;
		&:first-child { 
			margin-left: 0;
		}
	}
	&__value { 
		font-size: 1.1em;
	}
}

.launch-frame { 
	position: relative;
	height: 100%;
	&__mission { 
		position: fixed;
		top: 20px;
		right: 20px;
		background-color: #0c1048;
		padding: 20px;
		color: white;
		width: 280px;
	}
	&__rocket { 
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 400px;
		max-height: 60%;
		height: 100%;
	}
	&__bottom { 
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 700px;
		height: 100px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top;
		background-image: url('../img/launch-bottom-bg.png');
	}
}

.rocket-view { 
	&__img {
		position: relative;
		width: 100%;
		height: calc(100% - 70px);
		background-repeat: no-repeat;
		background-size: auto 80%;
		background-position: center;
		&.-first { 
			background-image: url('../img/rocket-one.png');
		}
		&.-second { 
			background-image: url('../img/rocket-two.png');
		}
		&.-third { 
			background-image: url('../img/rocket-three.png');
		}
	}
	&__launch-btn {
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		background: rgb(84,125,253);
		background: linear-gradient(0deg, rgba(84,125,253,1) 0%, rgba(28,163,255,1) 100%);
		padding: 25px 0;
		border-radius: 5px;
		text-align: center;
		cursor: pointer;
		transition: all 100ms;
		width: 100%;
		border: 0;
		font-size: 1.1em;
		&:hover { 
			transform: translateY(-5px);
		}
	}
}

.launch-details { 
	display: flex;
	padding: 33px 30px 0px 30px;
	width: 100%;
	&__item { 
		text-align: center;
		color: white;
		border-right: 1px solid #3294fe;
		padding: 5px 0;
		width: 50%;
		&:last-child { 
			border: 0;
		}
	}
	&__value {
		display: block;
		font-size: 1.4em;
		font-weight: bold;
		margin-top: 5px;
	}
}

.launch-mission { 
	&__header { 
		text-transform: uppercase;
		border-bottom: 1px solid #3294fe;
		padding: 0 0 10px 0;
		font-weight: bold;
	}
	&__chance { 
		padding: 10px 0;
	    text-align: center;
	    background-color: #ba4444;
	    border-radius: 3px;
	    margin: 20px 0 15px;
	    &.-low { 
	    	background-color: #ba4444;
	    }
	    &.-medium { 
	    	background-color: #ffc107;
	   	}
	   	&.-high { 
	   		background-color: #8bc34a;
	   	}
	}
	&__stats { 
		li { 
			padding: 10px 0;
			strong { 
				float: right;
				font-weight: bold;
			}
		}
	}
}
